In [2]:
import pandas as pd
df = pd.read_excel('123.xlsx')
df

    스테이지  골드  요구전투력  Unnamed: 3  레벨  전투력  렙업비용
0      1   3    100         NaN   1  100    10
1      2   6    120         NaN   2  110    30
2      3   9    140         NaN   3  120    50
3      4  12    160         NaN   4  130    70
4      5  15    180         NaN   5  140    90
5      6  18    200         NaN   6  150   110
6      7  21    220         NaN   7  160   130
7      8  24    240         NaN   8  170   150
8      9  27    260         NaN   9  180   170
9     10  30    280         NaN  10  190   190
10    11  33    300         NaN  11  200   210
11    12  36    320         NaN  12  210   230
12    13  39    340         NaN  13  220   250
13    14  42    360         NaN  14  230   270
14    15  45    380         NaN  15  240   290
15    16  48    400         NaN  16  250   310
16    17  51    420         NaN  17  260   330
17    18  54    440         NaN  18  270   350
18    19  57    460         NaN  19  280   370
19    20  60    480         NaN  20  290   390

In [ ]:
lv=0
st=0
gold=0
i=0
while i<100:
    #레벨업가능여부확인후레벨업
    if gold >= df['렙업비용'][lv]:
        gold -= df['렙업비용'][lv]
        lv += 1
        print(f'{lv+1}로 레벨업했다')
        continue
    #회차진행골드획득
    gold += df['골드'][st]
    
    #전투력체크후스테이지진행
    if df['전투력'][lv] > df['요구전투력'][st]:
        st += 1
    i += 1
    print(f'{i}번 진행. 보유골드 {gold}')

1번 진행. 보유골드 3
2번 진행. 보유골드 6
3번 진행. 보유골드 9
4번 진행. 보유골드 12
2로 레벨업했다
5번 진행. 보유골드 5
6번 진행. 보유골드 11
7번 진행. 보유골드 17
8번 진행. 보유골드 23
9번 진행. 보유골드 29
10번 진행. 보유골드 35
3로 레벨업했다
11번 진행. 보유골드 11
12번 진행. 보유골드 17
13번 진행. 보유골드 23
14번 진행. 보유골드 29
15번 진행. 보유골드 35
16번 진행. 보유골드 41
17번 진행. 보유골드 47
18번 진행. 보유골드 53
4로 레벨업했다
19번 진행. 보유골드 9
20번 진행. 보유골드 18
21번 진행. 보유골드 27
22번 진행. 보유골드 36
23번 진행. 보유골드 45
24번 진행. 보유골드 54
25번 진행. 보유골드 63
26번 진행. 보유골드 72
5로 레벨업했다
27번 진행. 보유골드 11
28번 진행. 보유골드 20
29번 진행. 보유골드 29
30번 진행. 보유골드 38
31번 진행. 보유골드 47
32번 진행. 보유골드 56
33번 진행. 보유골드 65
34번 진행. 보유골드 74
35번 진행. 보유골드 83
36번 진행. 보유골드 92
6로 레벨업했다
37번 진행. 보유골드 11
38번 진행. 보유골드 23
39번 진행. 보유골드 35
40번 진행. 보유골드 47
41번 진행. 보유골드 59
42번 진행. 보유골드 71
43번 진행. 보유골드 83
44번 진행. 보유골드 95
45번 진행. 보유골드 107
46번 진행. 보유골드 119
7로 레벨업했다
47번 진행. 보유골드 21
48번 진행. 보유골드 33
49번 진행. 보유골드 45
50번 진행. 보유골드 57
51번 진행. 보유골드 69
52번 진행. 보유골드 81
53번 진행. 보유골드 93
54번 진행. 보유골드 105
55번 진행. 보유골드 117
56번 진행. 보유골드 129
57번 진행. 보유골드 141
8로 레벨업했다
58번 진행. 보유골드 23
59번 진행. 보유골드 38
60번 진행. 보유골드 53
61번 진행. 보유골드 68
62번 진행. 보유골드 83
63번 진행. 보유골드 98
64번 진행. 보유골드 113
65번 진행. 보유골드 128
66번 진행. 보유골드 143
67번 진행. 보유골드 158
9로 레벨업했다
68번 진행. 보유골드 23
69번 진행. 보유골드 38
70번 진행. 보유골드 53
71번 진행. 보유골드 68
72번 진행. 보유골드 83
73번 진행. 보유골드 98
74번 진행. 보유골드 113
75번 진행. 보유골드 128
76번 진행. 보유골드 143
77번 진행. 보유골드 158
78번 진행. 보유골드 173
10로 레벨업했다
79번 진행. 보유골드 18
80번 진행. 보유골드 36
81번 진행. 보유골드 54
82번 진행. 보유골드 72
83번 진행. 보유골드 90
84번 진행. 보유골드 108
85번 진행. 보유골드 126
86번 진행. 보유골드 144
87번 진행. 보유골드 162
88번 진행. 보유골드 180
89번 진행. 보유골드 198
11로 레벨업했다
90번 진행. 보유골드 26
91번 진행. 보유골드 44
92번 진행. 보유골드 62
93번 진행. 보유골드 80
94번 진행. 보유골드 98
95번 진행. 보유골드 116
96번 진행. 보유골드 134
97번 진행. 보유골드 152
98번 진행. 보유골드 170
99번 진행. 보유골드 188
100번 진행. 보유골드 206